.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.logo {
    width: 80px;
    object-fit: cover;
    cursor: pointer;
    z-index: 3;
}

#open-close {
    font-family: var(--texto);
    font-size: 40px;
    color: var(--rosa);
    font-weight: 900;
    cursor: pointer;
    z-index: 3;
}

#aside {
    background-color: var(--aqua-opacidad);
    width: 30vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 100px;
    overflow-y: hidden;
    transition: transform 0.5s;
    z-index: 2;
}

.desplegar {
    transform: translateX(100%);
}

.container-svg {
    margin: 10px 60px;
    padding: 10px 0px;
    color: white;
    font-family: var(--texto);
}

.container-svg:not(:last-child) {
    border-bottom: 3px solid white;
} 

.container-svg div a span {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    width: 100%;
    height: 100px; /* Ajusta según el tamaño del contenedor */
    cursor: pointer;
    text-align: center; /* Asegura que el texto se mantenga centrado */
}

.container-svg a {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.container-svg a:hover {
    color: var(--aqua-oscuro);
}

@media screen and (max-width: 600px) {
    .menu {
        width: 100vw;
    }
    
    .logo {
        width: 50px;
    }
    
    #open-close {
        font-size: 30px;
    }
    
    #aside {
        width: 100vw;
        height: 100vh;
        overflow-y: visible;
    }
}

@media screen and (max-width: 1024px) {
    #aside {
        width: 100vw;
        height: 100vh;
        overflow-y: visible;
    }
}
